amqp==5.0.9
argcomplete==2.0.0
asgiref==3.5.2
awscli==1.22.49
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
billiard==3.6.4.0
boto3==1.20.49
botocore==1.23.49
Bottleneck @ file:///opt/concourse/worker/volumes/live/220f0b56-5355-4122-6705-41fcd18e285c/volume/bottleneck_1648028927947/work
celery==5.2.3
celery-progress==0.1.2
certifi==2022.5.18.1
cffi==1.15.0
cfn-flip==1.3.0
charset-normalizer==2.0.11
click @ file:///Users/runner/miniforge3/conda-bld/click_1651215220522/work
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.3
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1642883757836/work
crispy-bootstrap5==0.6
cryptography==36.0.1
dj-stripe==2.6.0
Django==4.0.4
django-appconf==1.0.5
django-braces==1.15.0
django-celery-results==2.2.0
django-crispy-forms==1.14.0
django-cryptography==1.0
django-extensions==3.1.5
django-leaflet==0.28.2
django-model-utils==4.2.0
djangorestframework==3.13.1
docutils==0.15.2
durationpy==0.5
factory-boy==3.2.1
Faker==12.1.0
future==0.18.2
hijri-converter @ file:///home/conda/feedstock_root/build_artifacts/hijri-converter_1644680066407/work
hjson==3.0.2
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1644933126202/work
idna==3.3
jmespath==0.10.0
jsonfield==3.1.0
kappa==0.6.0
kombu==5.2.3
korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1589354365811/work
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/0cda23d8-7460-44b2-7e5d-3c76a8a0ca7e/volume/mkl_random_1626186083266/work
mkl-service==2.4.0
npm==0.1.1
numexpr @ file:///opt/concourse/worker/volumes/live/87ac54fe-281a-440d-4d94-26ac99bdabdc/volume/numexpr_1640704258458/work
numpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_e3f85f54-0572-4c0e-b190-4bc4766fc3fenewxarhq/croots/recipe/numpy_and_numpy_base_1652801682879/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
optional-django==0.1.0
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.2
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1602493101794/work
placebo==0.9.0
prompt-toolkit==3.0.26
psycopg2 @ file:///opt/concourse/worker/volumes/live/7541fe58-2a45-4073-5d69-313e733fc729/volume/psycopg2_1612298592535/work
pyasn1==0.4.8
pycparser==2.21
PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1615809745702/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-decouple @ file:///home/conda/feedstock_root/build_artifacts/python-decouple_1643839541685/work
python-slugify==5.0.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
PyYAML==5.4.1
requests==2.27.1
rsa==4.7.2
s3transfer==0.5.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
sqlparse==0.4.2
stripe==2.65.0
style==1.1.0
text-unidecode==1.3
toml==0.10.2
tqdm==4.62.3
troposphere==3.2.2
update==0.0.1
urllib3==1.26.8
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.0.2
whitenoise @ file:///home/conda/feedstock_root/build_artifacts/whitenoise_1626463713199/work
wsgi-request-logger==0.4.6
zappa==0.54.1
